<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="/styles/borrowers/modify/password.css?v=20170901222619"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<% include ../../common/header.ejs %>

<div class="container clearfix">
    <% include ../../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>修改密码</span>
        </div>
        <div class="content">
            <div class="cont-title">
              <i></i>
              <span>修改密码</span>
            </div>
            <div class="modify_pass">
              <div class="modify-item">
                <label>原密码</label>
                <input type="password" class="user-ui-input" id="password" placeholder="原密码"/>
              </div>
              <div class="modify-item">
                <label>新密码</label>
                <input type="password" class="user-ui-input" id="new_password" placeholder="新密码"/>
              </div>
              <div class="modify-item">
                <label>确认新密码</label>
                <input type="password" class="user-ui-input" id="repeat_new_password" placeholder="确认新密码"/>
              </div>
              <div class="modify-button clearfix">
                <button class="js_submit">确认</button>
                <button class="js_cancel">放弃</button>
              </div>
            </div>
        </div>
        <% include ../../common/footer.ejs%>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/borrowers/modify/password.js?v=20170901222619"></script>
</body>
</html>

