<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>借款--新增借款人实名认证</title>
    <link rel="stylesheet" href="/styles/borrowers/real/name.css?v=20170908161840"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>

<% include ../../common/header.ejs %>
<div class="container clearfix">
    <% include ../../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <a href="/borrowers" class="navigation_link">借款人列表</a>
            <em class="navigation_ico"></em>
            <span>实名认证</span>
        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>实名认证</span>
            </div>

            <div class="modify_pass">
                <div class="modify-item">
                    <label>姓名</label>
                    <div class="user-card">
                        <input type="text" class="user-ui-input user-ui-card" v-model="params.name" placeholder="请输入姓名"/>
                    </div>
                </div>
                <div class="modify-item">
                    <label>身份证号</label>
                    <div class="user-card">
                        <input type="text" class="user-ui-input user-ui-card" v-model="params.id_no" placeholder="请输入身份证号"/>
                    </div>
                </div>
                <div class="modify-button clearfix">
                    <button class="btn_confirm" @click="bindBorrowers">确认</button>
                    <button class="btn_confirm" @click="cancelBorrowers">放弃</button>
                </div>
            </div>
        </div>
        <% include ../../common/footer.ejs%>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/borrowers/real/name.js?v=20170908161840"></script>
</body>
</html>

