<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>权限管理</title>
    <link rel="stylesheet" href="/styles/authority/index.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<% include ../common/header.ejs %>

<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>权限管理</span>
        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>权限管理</span>
                <a href="javascript:;" class="title-btn1 js_add">添加角色</a>
            </div>
            <div class="list_container list_top">
                <dl class="cont_list">
                    <dt>
                        <span class="authority_role">角色</span>
                        <span class="authority_type">权限</span>
                        <span>操作</span>
                    </dt>

                    <% if(authorityList && authorityList.length){%>
                      <% authorityList.forEach(function(item){%>
                        <dd>
                            <span class="authority_role"><%-item.name%></span>
                            <div class="authority_type">
                                <% item.permissions.forEach(function(child){%>
                                 <strong><%-child.name%></strong>
                                <%})%>
                            </div>
                            <div class="authority_action">
                                <a class="list_action js_authEdit" data-id="<%-item.id%>" href="javascript:;">编辑权限</a>
                                <a class="list_action js_delete" data-id="<%-item.id%>" href="javascript:;"> / 删除 </a>
                            </div>
                        </dd>

                    <%})%>
                    <%}%>
                </dl>
            </div>
        </div>
        <% include ../common/footer.ejs%>
    </div>
</div>

<div class="popup_wraper" id="editPopup">
   <div class="popup_title">
     <h4>编辑权限</h4>
   </div>
   <div class="popup_cont clearfix">
      <span>特选权限</span>
      <div class="popup_list_wraper">
          <ul class="popup_list popup_admin" id="popup_has_role">

          </ul>
      </div>


       <strong></strong>

       <div class="popup_list_wraper">
           <ul class="popup_list popup_role" id="popup_edit_role">

           </ul>
       </div>
   </div>

   <div class="popup_submit clearfix">
      <button class="js_editConfirm" data-roletype="#popup_edit_role">确定</button>
      <button class="js_cancel" data-popup="#editPopup">取消</button>
   </div>

</div>

<div class="popup_wraper" id="addPopup">
<div class="popup_title">
    <h4>添加角色</h4>
</div>
<div class="popup_input">
    <label>名称</label>
    <input type="text" class="user-ui-input" id="roleName" placeholder="请输入角色名称"/>
</div>
<div class="popup_cont clearfix">
    <span>特选权限</span>
    <div class="popup_list_wraper">
        <ul class="popup_list popup_admin" id="popup_all_role">

        </ul>
    </div>


    <strong></strong>

    <div class="popup_list_wraper">
        <ul class="popup_list popup_role" id="popup_add_role">

        </ul>
    </div>
</div>

<div class="popup_submit clearfix">
    <button class="btn_confirm js_addConfirm" data-roletype="#popup_add_role">添加</button>
    <button class="btn_cancel js_cancel" data-popup="#addPopup">取消</button>
</div>

</div>
<div class="popup_mask"></div>
<script type="text/javascript" src="/dist/scripts/authority/index.js"></script>
</body>
</html>
