<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="/styles/borrowers/modify/password.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<% include ../../common/header.ejs %>

<div class="container clearfix">
    <% include ../../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>修改密码</span>
        </div>
        <div class="content">
            <div class="cont-title">
              <i></i>
              <span>修改密码</span>
            </div>
            <div class="modify_pass" id="app">
              <div class="modify-item">
                <label>原密码</label>
                <input type="password" class="user-ui-input" v-model="params.password" placeholder="原密码"/>
              </div>
              <div class="modify-item">
                <label>新密码</label>
                <input type="password" class="user-ui-input" v-model="params.new_password" placeholder="新密码"/>
              </div>
              <div class="modify-item">
                <label>确认新密码</label>
                <input type="password" class="user-ui-input" v-model="params.repeat_new_password" placeholder="确认新密码"/>
              </div>
              <div class="modify-button clearfix">
                <button class="btn_confirm" @click="submitModifyPass">确认</button>
                <button class="btn_cancel" @click="cancelModifyPass">放弃</button>
              </div>
            </div>
        </div>
        <% include ../../common/footer.ejs%>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/borrowers/modify/password.js"></script>
</body>
</html>

