<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>借款人列表--新增借款人</title>
    <link rel="stylesheet" href="/styles/borrowers/add.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<% include ../common/header.ejs %>
<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <a href="/borrowers" class="navigation_link">借款人列表</a>
            <em class="navigation_ico"></em>
            <span>新增借款人信息</span>
        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>新增借款人</span>
                <a href="/borrowers/bind" class="title-btn2">邦定借款人</a>
            </div>
            <div class="modify_pass" id="app">
                <div class="modify-item">
                    <label>姓名</label>
                    <input type="text" class="user-ui-input" v-model="params.name" placeholder="姓名"/>
                </div>
                <div class="modify-item">
                    <label>手机号</label>
                    <input type="tel" class="user-ui-input" v-model="params.mobile" placeholder="手机号"/>
                </div>
                <div class="modify-item">
                    <label>邮箱</label>
                    <input type="email" class="user-ui-input" v-model="params.email" placeholder="邮箱（可选）"/>
                </div>
                <div class="modify-button clearfix">
                    <button class="btn_confirm" @click="addBorrowers">确认</button>
                    <button class="btn_cancel" @click="cancelBorrowers">放弃</button>
                </div>
            </div>
        </div>
        <% include ../common/footer.ejs%>

    </div>
</div>
<script type="text/javascript" src="/dist/scripts/borrowers/add.js"></script>
</body>
</html>

