.layui-poup{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:1000;
}
.layui-layer{
	min-width:260px;
	position:fixed;
	left:50%;
	top:50%;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	-webkit-background-clip: content;
	box-shadow: 1px 1px 50px rgba(0,0,0,.3);
	border-radius:2px;
	z-index:1002;
	color:#333;
}
.layui-layer-title{
	padding: 0 80px 0 20px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	background-color: #F8F8F8;
	border-radius: 2px 2px 0 0;
}
.layui-layer-content{
	position: relative;
	padding: 20px;
	line-height: 24px;
	word-break: break-all;
	overflow: hidden;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: auto
}
.layui-layer-btn {
	text-align: right;
	padding: 0 10px 12px;
	pointer-events: auto;
	user-select: none;
	-webkit-user-select: none
}

.layui-layer-btn a {
	height: 28px;
	line-height: 28px;
	margin: 6px 6px 0;
	padding: 0 15px;
	border: 1px solid #dedede;
	background-color: #f1f1f1;
	color: #333;
	border-radius: 2px;
	font-weight: 400;
	text-decoration: none;
	display:inline-block;
}

.layui-layer-btn a:hover {
	opacity: .9;
	text-decoration: none
}

.layui-layer-btn a:active {
	opacity: .8
}

.layui-layer-btn .layui-layer-btn0 {
	border-color: #4898d5;
	background-color: #2e8ded;
	color: #fff
}

.layui-layer-setwin{
	position:absolute;
	right:15px;
	top:15px;
	background:url(/images/lay_close.png) no-repeat;
	cursor:pointer;
	display:block;
	width:12px;
	height:12px;
}

.tips_cont{
	padding:0 12px;
	position:absolute;
	background:#303332;
  max-width:100px;
	text-align: center;
	width:80px;
	border-radius:4px;
	span{
		height:30px;
		line-height:30px;

		color:#fff;
	}
}
.tips_top{
	&:after{
		content:"";
		position: absolute;
		border-left:8px solid transparent;

		border-right:8px solid transparent;

		border-top: 8px solid #303332;
		bottom:-8px;
		left:50%;
		margin-left:-8px;
	}
}
.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index:100;
	left: 0;
	background:#000;
	opacity:0.2;
	filter:alpha(opacity=20);
}
.mask-ui{
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	margin:0 auto;
	min-width:110px;
	line-height:30px;
	border-radius:5px;
	position:fixed;
	left: 50%;
	top: 50%;
	z-index:99999;
	padding:5px 15px;
}
.mask-ui span{
	display:block;
	text-align:center;
	font-size:14px;
	color:#fff;
}
