
@import '../modules/common.scss';


/******ui-calendar*******/



.ui-calendar {

	width: 300px;

	position: fixed;

	left: 50%;

	top: 20%;

	z-index:10000;

	background:#fff;

	@include boxShadow(5);

	@include borderRadius(5);

	border:1px solid #e0e0e0;
}

.ui-calendar-date{

	height:50px;

	line-height:50px;

	background: #53cac3;

	padding:0 15px;

	> span{

		width:20px;

		height:20px;

		border:1px solid #fff;

		position:relative;

		border-radius:50%;
		margin-top:16px;

		cursor:pointer;
		&:before{
			position:absolute;
			left:50%;

			top:50%;

			margin-top:-3px;

			margin-left:-2px;
			width:6px;
			height:6px;
			border-left: 1px solid #fff;
			border-bottom: 1px solid #fff;
			content:'';
			display:block;
		}
	}

	.ui-calendar-prev{
		float:left;

		&:before{

			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
	}


	.ui-calendar-next{


		float:right;
		&:before{

			transform-origin: 25% 50%;
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
		}
	}
	.ui-calendar-drop{

		float:left;
	}
}
.ui-calendar-drop{

	padding-top:3px;

	strong{

		margin-left:10px;

		font-size:14px;
		color:#fff;
		font-weight:bold;
	}
}
.drop_menu_time{

	background:#fff;

	width:74px;

	&:after{

		border-bottom-color:#53cac3;
	}

	span{
		&.active{
			color:#53cac3;
		}
	}

	.drop_menu_list{

		width:74px;
	}
}

.drop_menu_month{

	background:#fff;

	width:60px;

	&:after{

		border-bottom-color:#53cac3;
	}

	span{
		&.active{
			color:#53cac3;
		}
	}

	.drop_menu_list{

		width:60px;
	}
}

.ui-calendar-title{

	margin:0 20px;

	height:40px;

	line-height:40px;

	font-size:14px;

	color:#333;


	border-bottom:1px solid #eaeaea;

	span{

		width:14.285714285714286%;


		float:left;

		text-align:center;

	}
}
.ui-calendar-cont{

	padding:0 20px 16px;
}
.ui-calendar-item{

	height:34px;

	margin-top:16px;


	span{

		color:#333;

		line-height:34px;

		width:34px;

		height:34px;

		font-size:16px;


		float:left;

		margin-right:3px;

		text-align:center;

		cursor:pointer;

		&:last-child{
			margin-right:0;
		}

		&.active{
			background: #53cac3;

			border-radius:50%;
			color:#fff;
		}
	}
}
.ui-calendar-submit {


	display: flex;

	justify-content: flex-end;

	padding-bottom: 20px;

	padding-right: 25px;

	.btn_confirm {

		margin-right: 15px;

		height: 32px;

		line-height: 32px;
	}
	.btn_cancel {

		height: 32px;

		line-height: 32px;
	}
}

