@import '../modules/reset.scss';

@import '../modules/common.scss';

@import '../modules/dropMenu.scss';

@import '../modules/form_list.scss';

@import '../modules/list.scss';

@import '../modules/confirm_button.scss';

@import '../modules/popup.scss';

@import '../layui/index.scss';

.vehicle_info_title{

	padding-left:20px;
	padding-top:28px;

}

.business_status {
	height:40px;
	border-bottom: 1px solid #ececec;
	h4 {
		font-size: 16px;
		line-height: 40px;

		color: #263238;
		float: left;
	}
	span{

		float:left;

		font-size:14px;

		line-height:40px;

		color:#53cac3;

		margin-left:10px;
	}
	.text_tips{

		color:#d90000;
	}
}



.form-group {
	.form-group-rows {
		label {
			width: 130px;
		}
	}

}

.vehicle_item{
	width:100%;
}

.form-group-rows:first-child{

	width:800rem/$rem;

}
.vehicle_info_wraper{
	padding:28px 0 0 30rem/$rem;


	&:last-of-type{
		padding-bottom:28px;
	}
}

.business_status {
	height:40px;
	border-bottom: 1px solid #ececec;
	h4 {
		font-size: 16px;
		line-height: 40px;

		color: #263238;
		float: left;
	}
}

.edit-ui-input{
	width:520rem/$rem;
}

.user-ui-month{

	width:440rem/$rem;
}

.user-ui-cost{
	width:240rem/$rem;
}


.drop_menu_edit{
	width:520rem/$rem;
	.drop_menu_list{
		width:520rem/$rem;
	}
}

.drop_menu_term{

	width:240rem/$rem;

	.drop_menu_list{

		width:240rem/$rem;
	}
}

.form-group-rows{
	.text_require{
		color:#d90000;
		position:relative;

		left:5px;
		top:2px;
	}

	button{
		&.edit_btn_custom{
			margin-top:0;
			padding:0;
			background:#51a5e2;
			margin-left:0;
			width:80rem/$rem;
			height:34px;
			line-height:34px;
			text-align:center;
		}
	}

}

.form-group{
	.form-group-btn{

		width:30px;
		height:30px;

		border-radius:50%;

		background:#53cac3;

		font-size:22px;

		padding:0;

		line-height:30px;

		margin-left:10rem/$rem;

		font-weight:bold;

		text-align:center;

		cursor:pointer;
		margin-top:0;

		position:relative;

		top:2px;

	}
	.btn_gray {
		background: #999;
	}

	.form-group-fee {

		width: 100%;

	}
}

.popup_wraper{

	width:650rem/$rem;
}

.popup_submit{

	padding:30rem/$rem 0 30rem/$rem 300rem/$rem;
}
.popup_cont{
	padding-left:40rem/$rem;

	padding-right:40rem/$rem;
}
.popup_menu{
	li{
		line-height:68rem/$rem;
		height:68rem/$rem;
		width:240rem/$rem;
		font-size:16px;
		color:#666;
		float:left;
		margin-right:32rem/$rem;
		&:first-child{

			width:208rem/$rem;
		}
		&:last-child{
			margin-right:0;
		}
	}
}
.drop_menu_stage{
	width:208rem/$rem;
	margin-left:0;
	.drop_menu_list{
		width:208rem/$rem;
	}
}
.const_money{
	display:inline-block;

	position:relative;
	margin-left:28rem/$rem;
	.user-ui-input{
		width:240rem/$rem;
		margin-left:0;
	}
	.user-ui-input-txt{
		width:34px;
		position:absolute;
		right:1px;
		left:inherit;
		top:1px;
	}
}

.cost_item{
	margin-bottom:18px;
	&:last-child{
		margin-bottom: 0;
	}
	.form-group-btn{

		width:30px;
		height:30px;

		border-radius:50%;

		background:#53cac3;

		font-size:22px;

		padding:0;

		line-height:30px;

		margin-left:30rem/$rem;

		font-weight:bold;

		text-align:center;

		cursor:pointer;

		color:#fff;

		margin-top:0;

		position:relative;

		top:2px;

	}
	.btn_gray{
		background:#999;
	}
}
.const_wraper{
	max-height:6rem;
	width:100%;
	overflow:auto;
}


.revenue_submit{

	display:flex;

	justify-content: center;
	padding-bottom:30px;
}

