<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
		<link rel="stylesheet" href="/styles/user/login.css"/>
  </head>
  <body>

		<div class="login">
			<div class="logo">

				<img src="https://bcgallery.b0.upaiyun.com/Metronic/4.5.5/pages/img/logo-big.png" alt="">

			</div>
			<div class="content">

				<h3 class="login-title">登 录</h3>

				<p class="form-group"><input class="login-user" id="mobile" type="text" autocomplete="off" placeholder="手机号"></p>

				<p class="form-group"><input class="login-user" id="password" type="password" autocomplete="off" placeholder="密码"></p>
                <input id="captcha_key" value="<%-captcha.key%>" type="hidden"/>
				<div class="user-msg">

					<p class="form-group"><input class="login-user" id="captcha_code" type="text" autocomplete="off" placeholder="验证码"></p>
					<img class="user-verify" src="<%-captcha.img_url%>" id="captcha-img" style="">
				</div>
				<button class="user-submit">登 录</button>
			</div>
		</div>
		<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/user/login"></script>
  </body>
</html>
