@import '../modules/reset.scss';
@import '../modules/common.scss';

@import '../modules/pagination.scss';

.message{
	margin-top:13px;
	margin-left:14px;

}
.message_list{
	li{
		line-height:54px;

		@include borderRadius(3);
		margin-bottom:8px;
		background:#f9f9f9;
		position:relative;

		&.active{

			background:#53cac3;

			span{
				color:#fff;
			}
			.sub_message{
				span{
					color:#666;
				}
			}
			.message_time{
				color:#fff;
			}
		}

		span{
			padding-left:54rem/$rem;
			font-size:16px;
			min-width:300px;
			display:inline-block;
			color:#666;
		}
		.message_link{
			font-size:14px;
			color:#248ad4;
			margin-left:40px;
		}

	}
	.message_time{
		color:#666;
		font-size:14px;
		position:absolute;
		right:24px;
		top:0;
	}
}
.sub_message{
	display: none;
	width:100%;
	height:38px;
	position:relative;
	left:0;
	background:#fff;
	span{
		line-height:38px;
	}
}
.content{
	.message_read{
		width:148px;
		cursor: pointer;
		background:#fff;
		color:#53cac3;
		border:1px solid #53cac3;

		&.active{
			background:#53cac3;
			color:#fff;
			&:before{
				background-position:-207px -95px;
			}
		}
		&:before{
			content:'';
			position:absolute;
			left:12px;
			top:10px;
			width:21px;
			height:13px;
			background:url(/images/ico_sprite.png) no-repeat -100px -114px;
		}
	}
}