@import '../modules/reset.scss';

@import '../modules/common.scss';

@import '../modules/search.scss';

@import '../modules/list.scss';

@import '../modules/dropMenu.scss';

@import '../widget/calendar.scss';

@import '../modules/pagination.scss';

@import '../layui/index.scss';

.cont_list{
	.vehicles_name{

		width:122rem/$rem;
	}
	.vehicles_color{
		width:260rem/$rem;
	}
	.vehicles_times{
		width:160rem/$rem;
	}
	.vehicles_status{
		width:134rem/$rem;
	}
	.vehicles_vin{
		width:240rem/$rem;
		float:left;
	}
	.vehicles_subject{
		width:164rem/$rem;
	}
	.vehicles_gpsStatus{
		width:150rem/$rem;
	}

	dd{

		overflow:visible;

		height:58px;
	}
}

.drop-menu-loan{
	width:260rem/$rem;
	.drop_menu_list{
		width:260rem/$rem;
	}
}
.gps_btn{
	text-align:right;
	padding-bottom:10px;

	border-bottom:1px solid #ececec;
	margin-bottom:10px;
	button{

		height:38px;
		line-height:38px;

		@include borderRadius(5);

		@include boxShadow(4);
		font-size: 14px;
		padding-left:40px;
		padding-right:20px;
		color:#fefefe;
		cursor: pointer;
		position:relative;

		background:#ed6b75;

		&:hover{
			background:#ef5d5d;
		}
		&:before{
			width:14px;
			height:17px;
			content:'';
			display:block;
			position:absolute;
			left:20px;
			top:10px;
			background:url(/images/ico_sprite.png) no-repeat -147px -91px;
		}
	}
}

.vehicles_gps{
	width: 440rem/$rem;
	height:34px;
	float:left;
}

.drop-menu-gps{
	width: 400rem/$rem;
	margin-top:12px;
	margin-left:0;

	.allowable{
		a{
			color:#248ad4;
		}
	}
	.disabled{
		a{
			color:#999;
		}
	}

}
.drop_menu_list{
	width: 400rem/$rem;
	li{
		&:hover{
			strong{
				color:#fff;
			}
		}
		strong{
			color:#666;
		}
	}
}
