<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资产--历史轨迹</title>
    <link rel="stylesheet" href="/styles/vehicles/history/index.css?v=201709080105623"/>
    <script type="text/javascript">
        !function(){
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
            window.addEventListener('resize',function(){
                document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
            })
        }();
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=98f295e5e3451c60b1036212f1f621e9"></script>
</head>

<body>
<div class="history">
    <div class="date_list">
        <label>从：</label>
        <div class="user-ui-calendar">
            <input class="user-ui-input" readonly="readonly" placeholder="请输入开始时间" value="<%-dateFormat(startTime * 1000,'yyyy-MM-dd HH:mm:ss')%>"  id="start"/>
        </div>
        <div class="user-ui-calendar">
            <em>至</em>
            <input class="user-ui-input" readonly="readonly" placeholder="请输入结束时间" value="<%-dateFormat(endTime * 1000,'yyyy-MM-dd HH:mm:ss')%>" id="end"/>
        </div>
        <button class="history_btn" id="play">开始回放</button>
        <button class="history_btn" id="stop" disabled>停止回放</button>
        <button class="history_btn" id="reset" disabled>重置回放</button>
    </div>
</div>
<div id="container"></div>

<script type="text/javascript">

  var deviceId = <%-deviceId%>;

</script>

<script type="text/javascript" src="/dist/scripts/vehicles/history/index.js?v=201709080105623"></script>
<script type="text/javascript" src="/scripts/lib/laydate.js?v=201709080105623"></script>

<script type="text/javascript">

     //获取所有点的坐标

    var start = {
        elem: '#start',
        format: 'YYYY-MM-DD hh:mm:ss',
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };

    var end = {
        elem: '#end',
        format: 'YYYY-MM-DD hh:mm:ss',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    laydate.skin('molv');

</script>
</body>
</html>
