@import '../../../modules/reset.scss';

@import '../../../modules/common.scss';

@import '../../../modules/form_list.scss';

.vehicle_tab{
	overflow:hidden;

	max-height:0;

	transition:all .3s linear;

	&.active{

		max-height:1500px;

	}
}

.vehicle_item_drop{

	line-height:48px;

	font-size:14px;

	color:#666;

	padding-left:20px;

	cursor: pointer;

	border-bottom:1px solid #ececec;

	position:relative;

	z-index:100;
	overflow:hidden;

	&.active{

		&:after{


			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);

			transform-origin:0 50%;
			-webkit-transform-origin:0 50%;


		}
	}

	&:after{
		transform-origin:0 50%;
		-webkit-transform-origin:0 50%;

		-webkit-transform: rotate(135deg);


		transform: rotate(135deg);
		width:8px;
		height:8px;
		position:absolute;
		right:18px;
		top:18px;
		border-left: 1px solid #666;
		border-bottom: 1px solid #666;
		content:'';
		display:block;
	}

}

