<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/styles/error/empty.css" rel="stylesheet">

</head>
<body>
<div class="error-wrap">
    <span class="errorpic404"></span>
    <p class="error-info">抱歉，该页面无法显示。</p>
    <div class="error-link"><a href="/error/404">刷新一下</a><a href="/" class="error_home">返回首页</a></div>
</div>
</body>
</html>