<div class="aside-menu fl">
    <% var menuList = [{
        name:'客户',
        link:'/borrowers',
        isValidate:'BORROWER_READ'
    },{
        name:'资产',
        link:'/vehicles',
        isValidate:'VEHICLE_READ'
    },{
        name:'业务',
        link:'/business',
        isValidate:'BORROWER_READ'
    },{
        name:'预约',
        link:'/appointments',
        isValidate:'APPOINTMENT_MANAGE'
    },{
        name:'员工',
        link:'/system',
        isValidate:'STUFF_MANAGE'
    },{
        name:'账户',
        link:'/account',
        isValidate:'ACCOUNT_MANAGE'
    },{
        name:'权限管理',
        link:'/authority',
        isValidate:'SUPER_ADMIN'
    },{
        name:'门店管理',
        link:'/shop',
        isValidate:'SUPER_ADMIN'
    }]%>
    <ul class="aside_list">
        <li <%if('/' == pathName){%>class="active"<%}%>>
            <a href="/">
                <i class="ico1"></i>
                <span class="js_nav_link">主页</span>
            </a>
        </li>
        <% menuList.forEach(function(item,index){%>
            <% if (roleList.indexOf(item.isValidate) > -1 ){%>
                <li <%if(pathName.indexOf(item.link) > -1){%>class="active"<%}%>>
                    <a href="<%-item.link%>">
                        <i class="ico<%-index + 2 %>"></i>
                        <span class="js_nav_link"><%-item.name%></span>
                    </a>
                </li>
            <%}%>

        <%})%>

    </ul>
</div>
<script>
    var asideMenu = document.querySelector('.aside-menu');
    asideMenu.style.height = document.documentElement.clientHeight - 68  + 'px';
</script>