<script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
</script>
<div class="header">
  <div class="header-logo fl">
    <img src="/images/header_logo.png" class="header_logo_img fl"/>
    <span class="js_narrow"></span>
  </div>
  <div class="header-top fr">
    <div class="header-shop fl">
     <i class="location_ico"></i><span>北京昌盛门店</span>
    </div>
    <div class="header_user fr">
      <img src="https://imgthisisdashcdn-83chedai-com.alikunlun.com/identicons/135.png" class="fl"/>
      <div class="header_user_txt fl">
        <span>淘小桃</span>
        <i></i>
      </div>
    </div>
    <div class="header-message fr">
      <ul class="header_message_list">
        <li>
          <a href="javascript:;">
            <i class="ico1"></i>
            <span>9</span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="ico2"></i>
            <span>18</span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="ico3"></i>
            <span>6</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>