<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>车险投保 - 投保确认</title>
    <link rel="stylesheet" href="/styles/insurance/confirm.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../common/header.ejs%>
<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr" id="app">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>车险投保 - 基本车辆信息</span>
        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>车辆列表</span>
                <a href="/business/loan" class="title-btn1">发起借款</a>
            </div>
            <div class="process_info">
                <ul class="process_list">
                    <li class="active">
                        <i>1</i>
                        <span>基本车辆信息</span>
                    </li>
                    <li class="active">
                        <i>2</i>
                        <span>详细车辆信息</span>
                    </li>
                    <li class="active">
                        <i>3</i>
                        <span>车险报价</span>
                    </li>
                    <li class="active">
                        <i>4</i>
                        <span>配送信息</span>
                    </li>
                    <li class="active">
                        <i>5</i>
                        <span>投保确认</span>
                    </li>
                </ul>
            </div>
            <div class="insurance_info">
                <div class="vehicle_info_title">
                    <div class="business_status">
                        <h4>保单配送消息</h4>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>姓名：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>手机号：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>配送地址：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>收件人邮箱：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status">
                        <h4>车主信息</h4>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>姓名：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>证件号码：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>联系电话：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status">
                        <h4>投保人信息</h4>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>投保人：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>证件号码：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>联系电话：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status">
                        <h4>被保人信息</h4>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>投保人：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>证件号码：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>联系电话：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status">
                        <h4>车辆信息</h4>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>车牌号码：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>品牌型号：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>车架号：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>发动机号码：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>登记日期：</label>
                                <span>xxxx</span>
                            </div>
                            <div class="form-group-rows">
                                <label>过户日期：</label>
                                <span>xxxx</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status">
                        <h4>保障内容</h4>
                    </div>
                </div>
                <div class="ensure clearfix">
                  <img src="https://imgthisisdashcdn-83chedai-com.alikunlun.com/identicons/135.png" class="insurance_logo"/>
                  <strong class="insurance_cate_name">平安</strong>
                  <div class="ensure_info">
                    <p>积分：67488</p>
                    <p>总保费：4820.55</p>
                  </div>
                </div>
                <div class="ensure_total clearfix">
                  <p>交强险</p>
                  <p>生效日期：2017-11-15</p>
                  <p>合计保费：￥3175.44</p>
                </div>
                <div class="list_container list_top">
                    <dl class="cont_list">
                        <dt>
                            <span>保障项目</span>
                            <span>保额</span>
                            <span>保费(元)</span>
                        </dt>
                        <dd>
                            <span>交强险保费</span>
                            <span>投保</span>
                            <span>360.00</span>
                        </dd>
                    </dl>
                </div>
                <div class="ensure_total clearfix">
                    <p>交强险</p>
                    <p>生效日期：2017-11-15</p>
                    <p>合计保费：￥3175.44</p>
                </div>
                <div class="list_container list_top">
                    <dl class="cont_list">
                        <dt>
                            <span>保障项目</span>
                            <span>保额</span>
                            <span>保费(元)</span>
                        </dt>
                        <dd>
                            <span>机动车损失保险</span>
                            <span>投保  不计免赔</span>
                            <span>1007.72</span>
                        </dd>
                    </dl>
                </div>
                <div class="appointment">
                </div>
                <div class="insurance_submit">
                    <button class="btn_cancel">上一步</button>
                    <button class="btn_confirm">确认消息</button>
                </div>
            </div>
        </div>
        <% include ../common/footer.ejs %>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/insurance/confirm.js"></script>
</body>
</html>