<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>车险投保 - 基本车辆信息</title>
    <link rel="stylesheet" href="/styles/insurance/info.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../common/header.ejs%>
<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr" id="app">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>车险投保 - 基本车辆信息</span>
        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>车辆列表</span>
                <a href="/business/loan" class="title-btn1">发起借款</a>
            </div>
            <div class="process_info">
                <ul class="process_list">
                    <li class="active">
                        <i>1</i>
                        <span>基本车辆信息</span>
                    </li>
                    <li class="active">
                        <i>2</i>
                        <span>详细车辆信息</span>
                    </li>
                    <li>
                        <i>3</i>
                        <span>&nbsp;</span>
                    </li>
                    <li>
                        <i>4</i>
                        <span>&nbsp;</span>
                    </li>
                    <li>
                        <i>5</i>
                        <span>&nbsp;</span>
                    </li>
                </ul>
            </div>
            <div class="insurance_info">
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>借款类型</label>
                                <strong class="active">抵押</strong>
                                <strong class="">质押</strong>
                            </div>
                            <div class="form-group-rows">
                                <label>借款金额</label>
                                <div class="user-ui-number">
                                    <input type="text" placeholder="借款金额" class="user-ui-input edit-ui-input">
                                    <i class="user-ui-input-txt">元</i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label class="">借款期限</label>
                                <input type="number" placeholder="借款期限" class="user-ui-input">
                                <div class="drop_menu drop_menu_term">
                                    <span>个月</span>
                                    <ul class="drop_menu_list">
                                        <li><a href="javascript:;">天</a></li>
                                        <li><a href="javascript:;">个月</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group-rows">
                                <label>业务员 </label>
                                <div class="drop_menu drop_menu_edit"><span>赵昌盛</span> <ul class="drop_menu_list"><li><a href="javascript:;">赵昌盛</a></li><li><a href="javascript:;">赵全能</a></li><li><a href="javascript:;">害虫</a></li></ul></div></div></div> <div class="form-group clearfix"><div class="form-group-rows"><label>还款类型</label> <div class="drop_menu drop_menu_edit"><span>等本等息</span> <ul class="drop_menu_list"><li><a href="javascript:;">先息后本</a></li><li><a href="javascript:;">等本等息</a></li><li><a href="javascript:;">等额本息</a></li><li><a href="javascript:;">等额本金</a></li></ul></div></div> <div class="form-group-rows "><label>综合服务费率</label> <div class="user-ui-number"><input type="text" placeholder="综合服务费率" class="user-ui-input user-ui-month"> <i class="user-ui-input-txt">% / 期</i></div><button class="edit_btn_custom">自定义</button></div></div></div></div>
                <div class="insurance_submit">
                    <button class="btn_confirm">立即获取报价</button>
                    <button class="btn_cancel">清空</button>
                </div>
            </div>
        </div>
        <% include ../common/footer.ejs %>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/insurance/info.js"></script>
</body>
</html>