<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>车险投保 - 详细车辆信息</title>
    <link rel="stylesheet" href="/styles/insurance/info.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../common/header.ejs%>
<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr" id="app">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>详细车辆信息</span>
        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>详细车辆信息</span>
                <a href="/business/loan" class="title-btn1">发起借款</a>
            </div>
            <div class="process_info">
                <ul class="process_list">
                    <li class="active">
                        <i>1</i>
                        <span>基本车辆信息</span>
                    </li>
                    <li class="active">
                        <i>2</i>
                        <span>详细车辆信息</span>
                    </li>
                    <li>
                        <i>3</i>
                        <span>车险报价</span>
                    </li>
                    <li>
                        <i>4</i>
                        <span>配送信息</span>
                    </li>
                    <li>
                        <i>5</i>
                        <span>投保确认</span>
                    </li>
                </ul>
            </div>
            <div class="insurance_info">
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>车架号</label>
                                <input type="text" placeholder="车架号" v-model.trim="formData.frameNo" class="user-ui-input">
                            </div>
                            <div class="form-group-rows">
                                <label>发动机号</label>
                                <input type="text" placeholder="发动机号" v-model.trim="formData.engineNo" class="user-ui-input">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>品牌型号</label>
                                <input type="text" readonly="readonly" placeholder="品牌型号" class="user-ui-input">
                            </div>
                            <div class="form-group-rows">
                                <label>登记日期</label>
                                <input type="text" readonly="readonly" v-model.trim="formData.firstRegisterDate" placeholder="登记日期" class="user-ui-input">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>是否一年内过户</label>
                                <% booleanOptions.forEach(function(item){%>
                                  <strong><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows ">
                                <label>过户日期</label>
                                <input type="text" readonly="readonly" placeholder="过户日期" class="user-ui-input">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>车主身份证</label>
                                <input type="number" placeholder="请输入车主身份证号码" class="user-ui-input">
                            </div>
                            <div class="form-group-rows ">
                                <label>车主手机号</label>
                                <input type="text" readonly="readonly" placeholder="车主手机号" class="user-ui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>投保人信息</label>
                                <strong class="vehicle_checkbox">同车主</strong>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>投保人姓名</label>
                                <input type="text" placeholder="请输入投保人姓名" class="user-ui-input">
                            </div>
                            <div class="form-group-rows">
                                <label>投保人手机号</label>
                                <input type="text" placeholder="请输入投保人手机号" class="user-ui-input">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>投保人身份证号</label>
                                <input type="text" placeholder="请输入投保人身份证号" class="user-ui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>被保人信息</label>
                                <strong class="vehicle_checkbox">同车主</strong>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>被保人姓名</label>
                                <input type="text" placeholder="请输入被保人姓名" class="user-ui-input">
                            </div>
                            <div class="form-group-rows">
                                <label>被保人手机号</label>
                                <input type="text" placeholder="请输入被保人手机号" class="user-ui-input">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>被保人身份证号</label>
                                <input type="text" placeholder="请输入被保人身份证号" class="user-ui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="insurance_submit">
                    <button class="btn_cancel">上一步</button>
                    <button class="btn_confirm">确认信息</button>
                </div>
            </div>
        </div>
        <% include ../common/footer.ejs %>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/insurance/info.js"></script>
</body>
</html>