
<script type="text/javascript">
    !function(){
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
      window.addEventListener('resize',function(){
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
      })
    }();
</script>
<script type="text/javascript">
    !function () {
        var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
        var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器
        var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器
        if (isIE) {
            var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
            reIE.test(userAgent);
            var fIEVersion = parseFloat(RegExp["$1"]);

            if (fIEVersion < 11) {

                alert("您的浏览器版本过低，请使用IE11及以上版本浏览器，或谷歌、火狐等浏览器，若您正在使用的是360、搜狗等国产浏览器，请切换至极速模式浏览！");

            }
        }
    }();
</script>

<div class="header">
  <div class="header-logo fl">
    <img src="/images/header_logo.png" class="header_logo_img active fl"/>
    <span class="js_narrow"></span>
  </div>
  <div class="header-top fr">
    <div class="header-shop fl">
     <% if(shop.name){%><i class="location_ico"></i><span><%-shop.name%></span><%}%>
    </div>
    <div class="header_user js_user fr">
      <img src="https://imgthisisdashcdn-83chedai-com.alikunlun.com/identicons/135.png" class="fl"/>
      <div class="header_user_txt fl">
        <span class="authority_name"><%-authority.name%></span>
        <i class="user_arrowDown"></i>
        <div class="user_info">
          <ul class="user_info_list">
            <li><a href="/"><i class="ico1"></i><span>个人页面</span></a></li>
            <li><a href="/borrowers/modify/password"><i class="ico2"></i><span>修改密码</span></a></li>
            <li class="js_logout"><a href="javascript:;"><i class="ico3"></i><span>退出</span></a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="header-message fr">
      <ul class="header_message_list">
        <li>
          <a href="javascript:;">
            <i class="ico1"></i>
            <em class="js_msgNume">i</em>
          </a>
          <div class="header_notice">
           <div class="notice_title"><span>您有<b><strong class="js_msgNume">i</strong>条消息</b></span><a class="notice_link" href="/message/<%-authority.id%>">查看所有</a></div>
            <dl class="notice_list">
                <dd>
                    <img src="https://imgthisisdashcdn-83chedai-com.alikunlun.com/identicons/135.png" class="notice_img fl"/>
                    <div class="notice_cont fr">
                    </div>
                </dd>
            </dl>
          </div>
        </li>
        <!--<li>-->
          <!--<a href="javascript:;">-->
            <!--<i class="ico2"></i>-->
            <!--<em>18</em>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="javascript:;">-->
            <!--<i class="ico3"></i>-->
            <!--<em>6</em>-->
          <!--</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>