@import '../../modules/reset.scss';

@import '../../modules/common.scss';

@import '../../layui/index.scss';

@import '../common.scss';

@import '../../modules/dropMenu.scss';

@import '../../modules/popup.scss';


@import '../../widget/calendar.scss';

.modify-button{
	padding-top:15px;
	padding-left:530rem/$rem;
}

.vehicle_item{
	float:left;
	width:600rem/$rem;
	margin-right:160rem/$rem;
	&:last-child{
		margin-right:0;
	}
	label{
		font-size:14px;
		color:#333;
		display:inline-block;
		width:56px;
		text-align:right;
	}
	strong{
		font-size:14px;
		color:#333;

		display:inline-block;

		padding-left:40px;

		position:relative;

		cursor:pointer;

		&.active{

			&:before{

				border:1px solid #53cac3;

				background:url(/images/ico_sprite.png) no-repeat #53cac3 -179px -109px;

			}

		}

		&:before{

			width:15px;

			height:15px;

			content:'';

			display:block;

			border:1px solid #c1c1c1;

		  border-radius:50%;

			-webkit-border-radius:50%;

			position:absolute;

			left:15rem/$rem;

			top:1px;



		}
	}
}
.vehicle-ui-input{

	width:480rem/$rem;

}
.vehicle_cont{
	padding-top:35rem/$rem;

	padding-bottom:35rem/$rem;

	padding-left:148rem/$rem;
}

.drop_menu_car,.drop_menu_color{

	width:480rem/$rem;


	.drop_menu_list{


		width:480rem/$rem;

		li{
			a{
				display:inline-block;
				width:60px;

				text-align:right;

				margin-right:10px;
			}
			&:hover{

				background:#f6f6f6;
				a{
					color:#666;
				}
			}
		}
	}

}
.vehicle_wraper{

	margin-bottom:26px;
}

.popup_wraper{
	width:1015rem/$rem;
}
.carPopup{

	background:#fff;

	overflow:hidden;
}
.carPopup_nav{

	padding-top:55px;
	float:left;
}

.carNav_list{
	width:50px;
	text-align:center;
	height:550rem/$rem;

	display:flex;

	flex-direction: column;

	li{
		font-size:14px;

		flex:1;

		a{
			color:#666;
		}
	}
}
.carPopup_item{

	width:220rem/$rem;

	float:left;

	margin-right:25rem/$rem;

	&:last-child{

		width:446rem/$rem;

		margin-right:0;
	}

	h4{
		height:55px;
		line-height:55px;

		font-size:16px;
		color:#666;

	}
}
.carList_wraper{
	border:1px solid #ccc;
	@include borderRadius(4);
	height:550rem/$rem;

	overflow: auto;
}
.carList{

	padding-bottom:6px;

	font-size:14px;


	dt{
		line-height:38px;

		padding-left:10px;

		background:#eee;



		a{
			color:#666;


		}
	}
	dd{
		padding:0 6px;

		line-height:28px;

		margin-top:10px;

		a{
			display:block;
			color:#666;

			padding-left:12px;
			&:hover{

				background:#53cac3;

				color:#fff;
			}
		}
	}
}
.popup_submit{
	padding-left:680rem/$rem;
}

