@import "common.scss";

.drop_menu{

	width: 125rem/$rem;
	height:34px;
	display:inline-block;

	position:relative;

	border:1px solid #ccc;

	padding-left:12px;

	margin-left:15rem/$rem;

	&.active{

		border:1px solid #53cac3;

		border-bottom:0;

		.drop_menu_list{
			display:block;
		}
		&:after{
			transform: rotate(-180deg);
			border-bottom-color: #53cac3;
		}
	}

	&:after{
		position:absolute;
		content:'';
		right:12rem/$rem;
		top:14px;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 5px solid #d6d6d6;
	}

	span{

		line-height:34px;
		color:#999;
		font-size:14px;
		cursor:pointer;

		width:100%;

		display:block;

		&.active{
			color:#333;
		}
	}

}
.drop_menu_list{
	background: #fff;
	width: 125rem/$rem;
	max-height:300px;

	overflow:auto;
	position:absolute;
	z-index:100;
	left:-1px;
	top:32px;
	border:1px solid #53cac3;
	border-top:0;
	padding:10rem/$rem 5rem/$rem 10rem/$rem;
	display:none;
	li{
		height:28px;
		line-height:28px;
		font-size:14px;

		width:100%;

		padding-left:15rem/$rem;
		@include ellipsis;

		span{
			display:inline-block;
			width:84px;
			height:18px;
			position:relative;
			top:4px;
		}

		&:hover{
			background:#53cac3;
			a{
				color:#fff;
			}
		}
		a{

			color:#666;
		}

	}
}