@import '../modules/reset.scss';
@import '../modules/common.scss';

@import '../layui/index.scss';

.vehicle_detail{

	padding:50rem/$rem 0;

}
.vehicle_item{
	overflow:hidden;
	font-size:14px;
	padding-left:282rem/$rem;
	margin-bottom:24px;
	&:last-child{
		margin-bottom:0;
	}
	label{
		width:72px;
		float:left;
		text-align:right;

		color:#666;
	}
	span{
		width:538rem/$rem;
		color:#333;
		float:left;
		margin-left:20rem/$rem;
	}
}