<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>计算收支--明细</title>
    <link rel="stylesheet" href="/styles/revenue/detail.css?v=20170907130643"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../common/header.ejs%>
<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr" id="app">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>计算收支明细</span>
        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>计算收支明细报表</span>
            </div>
            <div class="list_container list_top" id="wrapper">
                <dl class="cont_list" id="scroller">
                    <dt class="revenue_list">
                      <%listTit.forEach(function(item){%>
                        <span><%-item%></span>
                      <%})%>
                    </dt>
                    <% results.forEach(function(item){%>
                      <dd>
                         <%item.forEach(function(child){%>
                           <span><%-child || '暂无数据'%></span>
                         <%})%>
                      </dd>
                    <%})%>
                </dl>
            </div>
            <div class="revenue_total">
                <span>总收入:</span>
                <span>¥<%-totalPay%></span>
                <span>总支出:</span>
                <span>¥<%-totalIncome%></span>
            </div>
            <div class="revenue_submit">
                <button class="btn_confirm" @click="saveCalc">下载</button>
            </div>
        </div>
        <% include ../common/footer.ejs %>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/revenue/detail.js?v=20170907130643"></script>
</body>
</html>

